absl-py==0.2.0
alabaster==0.7.12
amazon-review-scraper==0.1.2
amazon-scraper==0.3.3
amazonscraper==0.1.2
anaconda-client==1.6.9
anaconda-navigator==1.7.0
anaconda-project==0.8.2
androguard==3.3.5
aniso8601==3.0.0
anyconfig==0.9.7
appdirs==1.4.3
arrow==0.14.2
article==0.1.1
asn1crypto==0.24.0
astor==0.6.2
astroid==1.6.1
astropy==2.0.3
atomicwrites==1.1.5
attrs==17.4.0
Automat==0.7.0
awscli==1.16.313
Babel==2.6.0
babelfish==0.5.5
backcall==0.1.0
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.4
beautifulsoup4==4.7.1
binaryornot==0.4.4
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==1.5.0
bokeh==0.12.13
boto==2.48.0
botocore==1.13.49
Bottleneck==1.2.1
bottlenose==1.1.8
bs4==0.0.1
bunch==1.0.1
cachetools==4.0.0
certifi==2019.11.28
cffi==1.11.4
chardet==3.0.4
Click==7.0
cloudpickle==0.5.2
clyent==1.2.2
cmake==0.9.0
codacy-coverage==1.3.6
cognitive-face==1.4.1
colorama==0.3.9
comtypes==1.1.4
conda==4.4.10
conda-build==3.4.1
conda-verify==2.0.0
configparser==3.7.4
constantly==15.1.0
contextlib2==0.5.5
cookiecutter==1.6.0
coverage==4.3.4
coveralls==0.4.4
cryptography==2.1.4
cssselect==1.0.3
cycler==0.10.0
cymem==2.0.2
Cython==0.25.2
cytoolz==0.9.0
darkflow==1.0.0
dash==0.30.0
dash-core-components==0.38.0
dash-html-components==0.13.2
dash-renderer==0.15.1
dash-table==3.1.6
dask==0.16.1
datashape==0.5.4
DateTime==4.2
deap==1.2.2
decorator==4.3.2
defusedxml==0.5.0
dill==0.2.9
distributed==1.20.2
dj-database-url==0.5.0
Django==2.1.4
django-allauth==0.38.0
django-appconf==1.0.2
django-camera-imagefield==0.2
django-compressor==2.2
django-countries==5.3.2
django-debug-toolbar==1.10.1
django-directory==0.0.3
django-dynamic-fixture==1.7.0
django-environ==0.4.5
django-extensions==2.1.3
django-extra-views==0.12.0
django-filebrowser==3.9.1
django-grappelli==2.10.1
django-heroku==0.3.1
django-js-asset==1.1.0
django-localflavor==2.1
django-mptt==0.9.1
django-nose==1.4.6
django-secure==1.0.1
django-simple-pagination==1.1.8
django-tastypie==0.14.2
django-template-forms==0.3.1
django-twilio-sms==0.2
django-urldecorators==0.6
django-webtest==1.7.9
django-widget-tweaks==1.4.3
djangorestframework==3.8.2
dlib==19.9.0
docker==4.0.2
docker-pycreds==0.4.0
docopt==0.6.2
docutils==0.14
dominate==2.4.0
editdistance==0.5.2
en-core-web-sm==2.0.0
entrypoints==0.2.3
enum34==1.1.6
environ==1.0
et-xmlfile==1.0.1
excel2json==1.0.1
excel2json-3==0.1.6
Fabric==1.10.2
falcon==1.4.1
fastcache==1.0.2
filelock==2.0.13
flake8==3.6.0
Flask==1.0.2
Flask-Bcrypt==0.7.1
Flask-Bootstrap==3.3.7.1
Flask-Compress==1.4.0
Flask-Cors==3.0.3
flask-expects-json==1.3.1
Flask-Github==0.1.3
Flask-Limiter==1.0.1
Flask-Login==0.4.1
flask-oidc==1.4.0
Flask-RESTful==0.3.6
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
fullpath==1.0.3
future==0.16.0
gast==0.2.2
gcloud==0.17.0
geocoder==1.38.1
gevent==1.2.2
gin==0.1.6
glob2==0.6
google==2.0.3
google-api-core==1.16.0
google-auth==1.11.1
google-cloud==0.34.0
google-cloud-bigquery==1.24.0
google-cloud-core==1.3.0
google-cloud-speech==1.3.2
google-cloud-vision==0.42.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
greencache==1.0.0
greenlet==0.4.12
grep==0.3.2
grpcio==1.12.0
gTTS==2.0.0
gTTS-token==1.1.1
guessit==3.0.3
gunicorn==19.8.1
h5py==2.7.1
heapdict==1.0.0
heroku==0.1.4
html5lib==0.9999999
htmq==1.0.0
httplib2==0.11.3
httpretty==0.8.14
hyperlink==18.0.0
idna==2.6
imageio==2.2.0
ImageScraper==2.0.7
imagesize==0.7.1
imbalanced-learn==0.4.3
imblearn==0.0
imutils==0.4.5
incremental==17.5.0
invoke==1.1.0
ipdb==0.8.3
ipdbplugin==1.5.0
ipykernel==4.8.2
ipython==7.3.0
ipython-genutils==0.2.0
ipywidgets==7.1.1
isort==4.2.15
isstring==1.0.2
itsdangerous==1.1.0
jdcal==1.3
jedi==0.11.1
Jinja2==2.10.1
jinja2-time==0.2.0
jmespath==0.9.4
joblib==0.14.1
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==0.31.4
jupyterlab-launcher==0.10.2
jws==0.1.3
kaggle==1.3.11.1
Keras==2.1.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.0.5
kiwisolver==1.1.0
lazy-object-proxy==1.3.1
lightfm==1.15
limits==1.3
llvmlite==0.21.0
locket==0.2.0
ludwig==0.1.0
lxml==3.8.0
magen-logger==1.0a1
mahotas==1.4.5
Markdown==2.6.11
MarkupSafe==1.1.1
matplotlib==3.2.0
mccabe==0.6.1
menuinst==1.4.11
met==0.1.5.0
mistune==0.8.3
mock==1.0.1
more-itertools==4.2.0
moviepy==0.2.3.5
mpmath==1.0.0
msgpack==0.5.6
msgpack-numpy==0.4.3.2
msgpack-python==0.5.1
multipledispatch==0.4.9
murmurhash==1.0.2
mysql-connector==2.1.6
mysql-connector-python==8.0.13
mysqlclient==1.3.13
navigator-updater==0.1.0
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.4.1
nose==1.3.7
notebook==5.4.0
numba==0.36.2
numexpr==2.6.4
numpy==1.18.1
numpydoc==0.7.0
oauth2==1.9.0.post1
oauth2client==3.0.0
oauthlib==2.1.0
odo==0.5.1
okta==0.0.4
olefile==0.45.1
opencv-contrib-python==3.4.1.15
opencv-contrib-python-headless==4.2.0.32
opencv-python==4.2.0.32
opencv-python-headless==4.2.0.32
openpyxl==2.4.10
optional-django==0.3.0
ordereddict==1.1
packaging==16.8
paho-mqtt==1.3.1
pandas==1.0.1
pandocfilters==1.4.2
paramiko==2.4.1
parsel==1.5.1
parso==0.1.1
partd==0.3.8
path.py==10.5
pathlib2==2.2.1
patsy==0.5.0
pbr==4.2.0
pep8==1.7.1
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
pipenv==2018.11.26
pkginfo==1.4.1
plac==0.9.6
plotly==3.4.2
pluggy==0.6.0
ply==3.10
poyo==0.4.2
preshed==2.0.1
progress==1.4
prompt-toolkit==2.0.9
protobuf==3.11.3
psutil==5.4.3
psycopg2==2.7.4
psycopg2-binary==2.7.4
ptyprocess==0.5.1
public==1.0.3
py==1.5.2
py-stackexchange==2.2.7
pyasn1==0.4.8
pyasn1-modules==0.2.1
PyAudio==0.2.11
PyAutoGUI==0.9.42
PyBrain==0.3
pycodestyle==2.4.0
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycryptodome==3.4.3
pycryptodomex==3.4.7
pycurl==7.43.0.1
PyDispatcher==2.0.5
pydot==1.4.1
pyflakes==2.0.0
pygame==1.9.3
PyGetWindow==0.0.4
Pygments==2.2.0
pygsm==0.1
PyHamcrest==1.9.0
PyJWT==1.6.4
pylint==1.8.2
pymongo==3.6.1
PyMsgBox==1.0.6
PyMySQL==0.9.2
PyNaCl==1.2.1
pyodbc==4.0.22
pyOpenSSL==17.5.0
pyparsing==2.4.6
pypi==2.1
pypiwin32==223
pyreadline==2.1
Pyrebase==3.0.27
PyRect==0.1.4
PyScreeze==0.1.20
pyserial==3.4
PySocks==1.6.7
pyspeech==0.0.0
pytesseract==0.3.2
pytest==3.6.3
pytest-cov==2.5.1
pytest-django==3.1.2
pytest-html==1.19.0
pytest-metadata==1.7.0
python-amazon-simple-product-api==2.2.11
python-crontab==2.3.6
python-datauri==0.2.8
python-dateutil==2.8.1
python-decouple==3.1
python-jwt==2.0.1
python-mimeparse==1.6.0
python-slugify==1.2.5
python3-openid==3.1.0
pyttsx==1.1
pyttsx3==2.7
PyTweening==1.0.3
pytz==2019.3
PyWavelets==0.5.2
pywin32==225
pywinpty==0.5
PyYAML==3.12
pyzmq==16.0.3
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
queuelib==1.5.0
ratelim==0.1.6
razorpay==1.1.1
rcssmin==1.0.6
react==4.3.0
rebulk==1.0.0
redcmd==1.2.10
redis==2.10.6
redlib==1.5.7
regex==2018.1.10
requests==2.21.0
requests-oauthlib==1.0.0
requests-toolbelt==0.7.0
retrying==1.3.3
rjsmin==1.0.12
rope==0.10.7
rsa==3.4.2
ruamel-yaml==0.15.35
s3transfer==0.2.1
scandir==1.4
scikit-image==0.13.1
scikit-learn==0.22.2.post1
scipy==1.4.1
Scrapy==1.6.0
seaborn==0.8.1
selenium==3.141.0
Send2Trash==1.4.2
service-identity==18.1.0
setproctitle==1.1.10
simplegeneric==0.8.1
SimplePool==0.1
singledispatch==3.4.0.3
six==1.14.0
sklearn==0.0
snowballstemmer==1.2.1
socli==3.7
sortedcollections==0.5.3
sortedcontainers==1.5.9
soupsieve==1.9.2
spacy==2.0.18
spec==0.11.3
SpeechRecognition==3.8.1
Sphinx==1.7.6
sphinxcontrib-httpdomain==1.7.0
sphinxcontrib-websupport==1.0.1
spyder==3.2.6
SQLAlchemy==1.2.1
sqlparse==0.2.4
statsmodels==0.8.0
stevedore==1.29.0
stopit==1.1.2
stream-django==1.4.0
stream-python==2.12.0
stripe==2.6.0
sympy==1.1.1
tables==3.4.2
tabulate==0.8.3
tblib==1.3.2
tensorboard==1.12.1
tensorflow==1.12.0
tensorflow-gpu==1.12.0
termcolor==1.1.0
terminado==0.8.1
tesseract==0.1.3
tesserocr==2.2.2
testpath==0.3.1
textblob==0.15.3
tflearn==0.3.2
thinc==6.12.1
toolz==0.9.0
torch==1.1.0
torchvision==0.3.0
tornado==4.2
touch==1.0.2
TPOT==0.10.1
tqdm==4.28.1
traitlets==4.3.1
tree-format==0.1.2
tts-watson==1.0.0
tweepy==3.6.0
twilio==6.29.4
Twisted==18.9.0
typing==3.6.2
ujson==1.35
unicodecsv==0.14.1
Unidecode==1.0.23
update-checker==0.16
urllib3==1.22
urwid==2.0.1
validators==0.13.0
virtualenv==16.1.0
virtualenv-clone==0.3.0
virtualenvwrapper==4.8.2
visitor==0.1.3
vote==1.0.2
w3lib==1.20.0
waitress==1.1.0
watson-developer-cloud==2.5.2
wcwidth==0.1.7
web-share-ftp==1.0
webencodings==0.5.1
WebOb==1.8.4
websocket-client==0.56.0
WebTest==2.0.12
Werkzeug==0.15.2
whichcraft==0.6.0
whitenoise==3.3.1
widgetsnbextension==3.1.0
win-inet-pton==1.0.1
win-unicode-console==0.5
wincertstore==0.2
wordpress-api==1.2.9
wrapt==1.10.11
WTForms==2.2.1
xlrd==1.1.0
XlsxWriter==1.0.2
xlwings==0.11.5
xlwt==1.3.0
xmltodict==0.12.0
zict==0.1.3
zope.interface==4.5.0
